body {
    background-color: #6237a0;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    width: 50rem;

    background-color: #9754cb;
    border-radius: 0.5rem;

    .content {
        display: flex;
        flex-direction: column;
        
        font-weight: 700;
        font-size: 150px;
        color: white;

        .numbers {
            display: flex;
            gap: 10px;
        }

        .separator {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
    
            margin: 0px 10px 0px px;
            
        
            .circle {
                background-color: white;
                border-radius: 0.5rem;
        
                padding: 4px;
            }
        }

        .square {
            background-color: #6237a0;
            border-radius: 0.5rem;

            padding: 20px;
        }

        p {
            font-size: 40px;
            font-weight: 400;
            text-align: center;

            margin-top: 1rem;
        }
    }
}